#centre
  %h1= @user.name
  %ul#actions
    %li= link_to 'edit this information', edit_user_url(@user), :accesskey => "e"
    %li= link_to 'see who wrote which bits of this page', changes_user_url(@user)
    %li= follow_link    

  = signed_off_message
  = redirect_message
  = similar_pages_message
  
  - unless @user.picture.url.empty?
    #user_picture= link_to image_tag(@user.picture.url(:thumb)), @user.picture.url
  
  #content
    %p
      - if user_signed_in?
        = mail_to @user.email, nil, :encode => 'javascript'
        - unless @user.confirmed_at? 
          (this email address has not been confirmed)
        - unless @user.activated?
          This user has not been activated by an administrator.
        - if current_user.administrator?
          - if @user.activated?
            = button_to "Disable this account", :action => 'disable'
          - else
            = button_to "Activate this account", :action => 'activate'
      - else
        Must be registered and signed in to see this user's email address
    - cache do 
      = raw(@user.to_html)

  %h2 Recent edits by this user

  %ul.recentChanges

  - @user.edits.recent.limit(10).group_by { |v| v.created_at.to_date }.each do |date,versions|

    %h3= date

    %ul#recentChanges
    - versions.each do |version|
      %li
        %span.time= version.updated_at.to_s(:time)
        %span.title= link_to version.title, version.target
        %span.changes= link_to "(changes)", version_url(version)

  %h2 Pages that this person gets emails about
  
  = link_list @user.followed_all_types
  
  
    
#right= render 'pages/right_bar'
