- unless @version.picture_file_name.nil?
  Picture:
  = image_tag @version.picture.url(:medium)
- unless @version.attachment_file_name.nil?
  Attached file:
  = link_to "#{@version.attachment_file_name}", @version.attachment.url
  

%table#comparison
  %tr
    %td
      %pre#old= @previous_version.try(:to_comparable_text)
    %td
      %pre#new= @version.to_comparable_text

#content

%script{ :type => 'text/javascript' }
  show_diff();
