#changeindex
  %h1 #{@version.target.title}
  = link_to "Return to the #{@version.target_type.humanize}", @version.target

  %p= page_newer_changes_link
  
  %p.changeScopeMessage= @message
  
  %p.allChangesScope= link_to("See all changes since this wiki was released",version_url(@version.target.versions.last,:comparison_id => @call_for_evidence_version))
    
  - @versions.group_by { |v| v.created_at.to_date }.each do |date,versions|

    %h2= date

    %ul.recentChanges
      - for version in versions 
        %li{ :class => version_class(version) }
          %span.time= version.updated_at.to_s(:time)
          - if version.user
            %span.user= link_to version.user.name, version.user
          - if @showing_previous_version && version == @version 
            - if (@version.target.updated_at - @version.created_at ) > 1
              = button_to "Reset #{@version.target_type.downcase} to this version", revert_version_url(@version)
          - else
            %span.changes= link_to("(see this edit)",version_url(version,:comparison_id => version.previous_version || 'nill' ))
  
  %p= page_older_changes_link

#change
  = render 'version'
