%ul#subindexes
  Sub indexes:
  %li= link_to_unless_current "cost categories (e.g., nuclear)", cost_categories_url
  %li= link_to_unless_current "cost sources (e.g., Markal)", cost_sources_url
  %li= link_to_unless_current "cost data points (e.g., Markal EPWR 2050)", costs_url
  %li= link_to_unless_current "manual pages", pages_url
  %li= link_to_unless_current "users", users_url
  %li= link_to_unless_current "pictures", pictures_url
  %li= link_to_unless_current "files", uploaded_files_url
