!!!
%html
  %head
    %title= @title || target.try(:title) || 'The 2050 Costs Wiki'
    = stylesheet_link_tag "application", :media => 'all'
    = stylesheet_link_tag "print", :media => 'print'
    = javascript_include_tag :all
    = csrf_meta_tag
  %body
    #disclaimer 
      #message
        This is a 
        = link_to 'wiki', '/pages/99'
        for the 
        = link_to '2050 pathways calculator.',  'http://www.decc.gov.uk/2050'
        = link_to 'Anyone can contribute,', '/pages/101'
        therefore 
        = link_to 'DECC', 'http://www.decc.gov.uk'
        does not 
        = link_to 'vouch for its accuracy.', '/pages/102'
      #signout= link_to "Sign out", destroy_user_session_url
    #wrapper{:class => "#{controller_name} #{action_name} #{sign_off_status}"}
      = yield
